.menu-top {
  width: 1200px;
  height: 42px;
  background-color: #293449;
  color: #ffffff;
}

.logo-back {
  width: 220px;
  height: 47px;
  box-shadow: #ee3643;
  background-color: #ee3643;
}

.make-order-button {
  width: 150px;
  height: 42px;
  background-color: #63a63e;
}
.menu-center {
  width: 940px;
  height: 60px;
  box-shadow: #293449;
  background-color: #32425c;
}

.numbers {
  width: 144px;
  height: 21px;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ee3643;
}
.phone-back {
  width: 270px;
  height: 45px;
  border: solid 3px #ffffff;
}

.main-header {
  width: 1200px;
  height: 320px;
  background-color: var(--pale-grey);
}

.login {
  width: 121px;
  height: 45px;
}

.address {
  width: 250px;
  height: 13px;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey-blue);
}
