html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.form-write-us label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #000000;
}
/* Header */

.header-menu {
  background-color: #33445a;
}

.header-menu a {
  display: block;
}

.header-info {
  padding-top: 47px;
  padding-bottom: 24px;
}

.page-nav {
  padding-bottom: 63px;
  background-color: #f4f7f9;
}

.header-logo {
  position: relative;
  display: block;
  padding: 14px 55px 10px;
  font-size: 20px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ff5357;
  cursor: pointer;
}

.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
}

.header-logo:active {
  background: #ba2732;
}

.header-logo::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #c23f42;
}

.header-search {
  position: relative;
  width: 270px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Tahoma", sans-serif;
}

.header-search input {
  width: 100%;
  min-height: 42px;
  padding-left: 50px;
  color: inherit;
  background: #33445a;
  border: none;
}

.header-search input:focus {
  color: #000000;
  background-color: #ffffff;
  outline: none;
}

.header-search input::placeholder {
  color: #ffffff;
}

.header-search svg {
  position: absolute;
  top: 50%;
  left: 17px;
  margin-top: -7px;
}

.header-search path {
  opacity: 0.3;
  fill: #ffffff;
}

.header-search input:focus + svg > path {
  opacity: 1;
  fill: #ee3643;
}

.header-company {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-left: 52px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 23px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #ff5357;
  font-style: italic;
}

.header-contacts {
  padding-left: 17px;
  margin-left: 30px;
  margin-top: 50px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.header-numbers {
  width: 270px;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 5px;
  padding-left: 70px;
  border: 3px solid #ffffff;
}

.header-numbers a {
  font-size: 21px;
  line-height: 21px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #fb463c;
}

.header-location {
  margin-top: 4px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 24px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #3d546e;
}

/* Container */

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-menu .container {
  display: flex;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum" "Tahoma";
}

/*  Закладки корзина заказ */

.user-bookmarks,
.user-cart,
.user-order {
  display: block;
  padding-top: 12px;
  color: #ffffff;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 17px;
}

.user-bookmarks {
  position: relative;
  width: 160px;
  padding-left: 44px;
}

.user-bookmarks:active {
  opacity: 0.6;
}

.user-bookmarks::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 17px;
  width: 14px;
  height: 16px;
  margin-top: -10px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-bookmarks:hover::before,
.user-bookmarks:focus::before {
  opacity: 1;
}

.user-bookmarks:active::before {
  opacity: 0.6;
}

.user-cart {
  position: relative;
  width: 140px;
  padding-left: 40px;
}

.user-cart:active {
  opacity: 0.6;
}

.user-cart::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  width: 15px;
  height: 15px;
  margin-top: -10px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-cart:hover {
  background-color: #ee3643;
}

.user-cart:hover::before,
.user-cart:focus::before {
  opacity: 1;
}

.user-cart:active::before {
  opacity: 0.6;
}

.user-order {
  width: 150px;
  padding-left: 20px;
  background-color: #63a63e;
}

.user-order:hover,
.user-order:focus {
  background-color: #5fbb2d;
}

.user-order:active {
  background-color: #518534;
}

/* Флексы */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.column {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}
 
.column-delivery {
  flex-grow: 3.3;
  flex-basis: 0;
}

.column-delivery-2 {
  flex-grow: 6.7;
  flex-basis: 0;
}

.column-about-company {
  flex-grow: 6.7;
  flex-basis: 0;
}

.column-contacts {
  flex-grow: 3.3;
  flex-basis: 0;
}

.column-footer {
  flex-grow: 4.15;
  flex-basis: 0;
}

.column-footer-2 {
  flex-grow: 5.85;
  flex-basis: 0;
}

.column-footer-3 {
  flex-grow: 2.55;
  flex-basis: 0;
}

.column-filter {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

.column-sort {
  flex-grow: 7.6;
  flex-basis: 0;
}

.column-catalog {
  flex-grow: 2.4;
  flex-basis: 0;
}

#service-delivery:checked ~ .row .delivery-menu-item,
#service-garanty:checked ~ .row .garanty-menu-item,
#service-credit:checked ~ .row .credit-menu-item {
  color: #3d546e;
  background-color: #ffffff;
  border: none;
}

#service-delivery:checked ~ .row .delivery,
#service-garanty:checked ~ .row .garanty,
#service-credit:checked ~ .row .credit {
  display: block;
}

.service-description {
  position: relative;
}

.service-description h3 {
  margin: 0;
  margin-top: 11px;
  font-size: 36px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #3d546e;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.service-description p {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-top: 31px;
  margin-bottom: 30px;
  padding-right: 300px;
}

.service-description .delivery::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 0;
  z-index: 0;
  width: 468px;
  height: 261px;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
}

.service-description .garanty::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 0;
  z-index: 0;
  width: 389px;
  height: 283px;
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
}

.service-description .credit::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 0;
  z-index: 0;
  width: 465px;
  height: 285px;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
}

.service-description .delivery,
.service-description .garanty,
.service-description .credit {
  display: none;
}

/* USER */

.user-navigation {
  display: flex;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 6px;
  padding-left: 33px;
  list-style: none;
}

.user-navigation li {
  margin-right: 10px;
}

.user-navigation li:last-child {
  margin-right: 0;
}

.user-navigation-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 50px;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Tahoma", sans-serif;
}

.user-navigation-links li {
  position: relative;
}

.user-navigation-links li:nth-child(n + 2) {
  padding-left: 32px;
}

.user-navigation-links li:nth-child(n + 2)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  width: 4px;
  height: 4px;
  margin-top: -2px;
  background-color: #33445a;
  border-radius: 10px;
}

.user-navigation-links a {
  color: #33445a;
  text-decoration: underline;
  text-decoration: none;
}

.user-navigation-links a:hover,
.user-navigation-links a:focus {
  color: #ee3643;
}

.user-navigation-links a:active {
  color: #33445a;
  opacity: 0.3;
}

.user-login,
.user-register {
  display: block;
  padding-top: 10px;
  padding-bottom: 12px;
  font-size: 21px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.user-login {
  position: relative;
  width: 120px;
  padding-left: 47px;
}

.user-login::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-logged-in {
  display: block;
  padding-top: 10px;
  padding-bottom: 12px;
  font-size: 21px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.user-logged-in {
  position: relative;
  width: 300px;
  padding-left: 47px;
}

.user-logged-in::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-logged-in::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 10px;
  width: 21px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-logged-in:hover::before,
.user-logged-in:focus::before {
  background-image: url("../img/icon-user-blue.svg");
}

.user-logged-in:hover::after,
.user-logged-in:focus::after {
  background-image: url("../img/icon-logout-blue.svg");
}

.user-logged-in:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-logged-in:active::before,
.user-logged-in:active::after {
  opacity: 0.3;
}

.user-register {
  width: 150px;
  padding-left: 25px;
}

.user-login:hover,
.user-register:hover,
.user-login:focus,
.user-register:focus {
  color: #ee3643;
}

.user-login:active,
.user-register:active {
  color: rgba(0, 0, 0, 0.3);
}

/* menu-navigation */

.menu-navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 20px;
  list-style: none;
  background-color: #3d546e;
}

.menu-navigation a {
  display: block;
  padding-top: 22px;
  padding-right: 30px;
  padding-bottom: 18px;
  padding-left: 30px;
  font-size: 17px;
  line-height: 15px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #ffffff;
  text-decoration: none;
}

.menu-navigation::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #33445a;
}

.menu-navigation a:hover,
.menu-navigation a:focus {
  background-color: #33445a;
}

.menu-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
  border-bottom-color: #1d2739;
}

/* Середина */

.main {
  display: block;
  margin-bottom: 81px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/* Lenta */

.ribbon {
  position: absolute;
  top: 7px;
  right: -80px;
  width: 200px;
  font-size: 16px;
  line-height: 28px;
  background-image: url("../img/new-flag.png");
  text-align: center;
  color: #f0f0f0;
  text-transform: lowercase;
  letter-spacing: 1px;
  background: #ff5357;
  transform: rotate(45deg);
}

/* Catalog */

.catalog-content {
  margin-bottom: 30px;
}

.catalog {
  margin-bottom: 33px;
  padding-top: 60px;
}

.catalog-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-menu li {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.catalog-menu p {
  margin: 0;
  margin-top: 21px;
  margin-bottom: 12px;
  margin-left: 23px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #ffffff;
}

.catalog-menu-btn {
  display: block;
  width: 135px;
  margin-bottom: 22px;
  margin-left: 25px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 25px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: left;
}

.catalog-menu-btn:hover,
.catalog-menu-btn:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.catalog-menu-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog-menu .materials {
  margin-right: 20px;
  background-color: #ffbf47;
}

.catalog-menu .materials::before {
  content: "";
  position: absolute;
  top: 31px;
  right: 43px;
  width: 44px;
  height: 65px;
  background-image: url("../img/icon-1.svg");
}

.catalog-menu .tools {
  background-color: #3bbce3;
  margin-right: 20px;
}

.catalog-menu .tools::before {
  content: "";
  position: absolute;
  top: 33px;
  right: 28px;
  width: 75px;
  height: 61px;
  background-image: url("../img/icon-2.svg");
}

.catalog-menu .tech {
  background-color: #dc91d8;
}

.catalog-menu .tech::before {
  content: "";
  position: absolute;
  top: 31px;
  right: 31px;
  width: 78px;
  height: 62px;
  background-image: url("../img/icon-3.svg");
}

.catalog-menu .discount {
  background-color: #8ed78f;
}

.catalog-menu .discount::before {
  content: "";
  position: absolute;
  top: 27px;
  right: 45px;
  width: 59px;
  height: 72px;
  background-image: url("../img/icon-4.svg");
}

.catalog-menu .delivery {
  background-color: #ffbf47;
}

.catalog-menu .delivery::before {
  content: "";
  position: absolute;
  top: 33px;
  right: 31px;
  width: 78px;
  height: 63px;
  background-image: url("../img/icon-5.svg");
}

/* для каталога */

.catalog-items-1 {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-items-1 li {
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 220px;
  height: 318px;
}

.catalog-items-1 li:nth-child(3n) {
  margin-right: 0;
}


.catalog-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-items li {
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 220px;
  height: 318px;
}

.catalog-items li:nth-child(4n) {
  margin-right: 0;
}

.catalog-item {
  width: 220px;
  height: 318px;
  text-align: center;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
}

.catalog-item img {
  margin-bottom: 33px;
  order: -1;
}

.catalog-item h3 {
  margin: 0;
  margin-bottom: 12px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: -1px;
}

.catalog-item .discount {
  display: block;
  margin-bottom: 11px;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-item:hover > img {
  display: none;
}

.catalog-item:hover > .actions {
  display: flex;
}

.catalog-item .actions {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 44px;
}

.catalog-item a {
  position: relative;
  display: inline-block;
  width: 135px;
  padding-top: 6px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;
}

.actions a {
  position: relative;
  display: inline-block;
  width: 135px;
  padding-top: 6px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  border-radius: 2px;
}

.catalog-item .actions {
  margin-bottom: 9px;
  padding-bottom: 4px;
  color: #ffffff;
  background-color: #ffffff;
  border-bottom: 3px solid #ffffff;
}

.buy {
  margin-bottom: 9px;
  padding-bottom: 4px;
  color: #ffffff;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
}

.buy:hover,
.buy:focus {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #518534;
}

.catalog-item::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 11px;
  left: 12px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.buy::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 11px;
  left: 12px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.catalog-item .actions:hover::before {
  opacity: 1;
}

.buy:hover::before {
  opacity: 1;
}

.bookmark {
  margin-bottom: 50px;
  padding-bottom: 4px;
  color: #33445a;
  border: 2px solid #63a63e;
}

.bookmark:hover,
.bookmark:focus {
  border-color: #33445a;
}

.catalog-item .actions:active {
  opacity: 0.3;
}

.bookmark:active {
  opacity: 0.3;
}

.catalog-items .item-name {
  display: block;
}

.inner-page .catalog-items {
  margin-bottom: 32px;
}

.inner-page .catalog-items li:nth-child(4n) {
  margin-right: 20px;
}

.inner-page .catalog-items li:nth-child(3n) {
  margin-right: 0;
  margin-left: -1px;
}

.catalog-header {
  display: flex;
  align-items: center;
  min-height: 37px;
  margin-bottom: 20px;
  background-color: #f7f3ec;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
}

.catalog-header::after {
  content: "";
  min-height: inherit;
  font-size: 0;
  display: block;
}

.catalog-header p {
  width: 240px;
  margin: 0;
  margin-right: auto;
  text-transform: uppercase;
}

/*Popular */

.popular-products {
  margin-bottom: 20px;
}

.popular-title-row {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 25px 26px;
  background-color: #f9f5f0;
}

.popular-title-row .button {
  width: 250px;
}

.popular-section-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #3d546e;
  text-transform: uppercase;
  letter-spacing: -1px;
}

/* цвет для названий товаров */

.black-color {
  width: 155px;
  height: 33px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.black-color-2 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  text-transform: capitalize;
  color: #000000;
}

/* Popular brands */

.popular-brands {
  margin-bottom: 65px;
}

.popular-brands-list {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-brands-item {
  display: flex;
  flex-basis: 220px;
  justify-content: center;
  align-items: center;
  height: 145px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

.popular-brands-item:nth-child(4n) {
  margin-right: 0;
}

.popular-brands-item:hover,
.popular-brands-item:focus {
  box-shadow: 0 10px 30px -10px #000000;
}

.popular-brands-item:active {
  opacity: 0.5;
}

.popular-brand-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-brands-list li {
  margin-right: 17px;
}

/*Button */

.button {
  display: inline-block;
  padding: 11px 50px;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background: #ff5357;
  border: none;
  border-radius: 2px;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.price-button {
  position: absolute;
  display: inline-block;
  margin-bottom: 20px;
  padding: 11px 22px 9px 22px;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  background-color: #ee3643;
}

.price-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  z-index: 1;
  width: 30px;
  height: 38px;
  background-color: inherit;
}

.price-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: -19px;
  z-index: 1;
  width: 37px;
  height: 37px;
  background-color: inherit;
  border-radius: 50px 0 0 0;
  transform: rotate(-45deg) scale(0.7);
}

/* Actions */

/* Services */

.services {
  margin-bottom: 82px;
  padding-top: 63px;
  padding-bottom: 100px;
  overflow: hidden;
  background-color: #f4f8fa;
}

.services-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.service-back {
  margin-bottom: -80px;
  padding-top: 61px;
  padding-bottom: 70px;
  background-color: #f4f8fa;
}

.service-back p {
  margin: 0;
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.services-info {
  margin: 0;
  margin-bottom: 62px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}

.services input[type="radio"] {
  display: none;
}

.services-list {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  list-style: none;
}

.services-list:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 279px;
  top: -35px;
  left: 230px;
  background-image: url("../img/shadow.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.25;
}

.services-list label {
  display: block;

  /* height: 100%; */
}

.services-list label:hover {
  cursor: pointer;
}

.services-list li {
  width: 240px;
  padding-top: 12px;
  padding-bottom: 19px;
  padding-left: 23px;
  font-weight: bold;
  font-size: 21px;
  line-height: 31px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #ffffff;
  background-color: #3d546e;
  border-top: 1px solid #485973;
  border-bottom: 1px solid #33445a;
}

.services-list li:hover {
  background-color: #29384a;
}

/* about company */

.about-company {
  padding-right: 20px;
}

.about-company-title,
.contacts-title {
  margin: 0;
  margin-bottom: 31px;
  font-size: 30px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.about-company p {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
}

.about-company p:last-of-type {
  margin-bottom: 20px;
}

.about-company-button {
  padding: 10px 40px;
}

.example-list {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
}

.example-list li {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 35px;
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", "Tahoma", sans-serif;
}

.example-list li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 2px;
  margin-top: -1px;
  background-color: #ff716f;
}

.contacts p {
  margin-bottom: 30px;
}

.contacts img {
  margin-bottom: 37px;
}

.contacts-button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-map {
  margin: 0;
  padding: 0;
}

/* footer */

.page-footer-top {
  background-color: #3d546e;
}
.page-footer-bottom {
  padding-top: 30px;
  padding-bottom: 28px;
  background-color: #33445a;
}

.page-footer-bottom p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #ffffff;
}

.page-footer-bottom .sub {
  display: block;
}

.nav-footer-row-1 {
  margin-bottom: 32px;
}

.footer-logo {
  display: inline-block;
  padding: 18px 41px 20px 41px;
  font-size: 25px;
  line-height: 30px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ff5357;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-logo:hover {
  cursor: pointer;
}

.site-navigation-footer {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  list-style: none;
}

.site-navigation-footer li {
  margin-right: 60px;
}

.site-navigation-footer li:last-child {
  margin: 0;
}

.site-navigation-footer a {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #f4f8fa;
  text-decoration: none;
}

.site-navigation-footer a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
}

.site-navigation-footer a:hover,
.site-navigation-footer a:focus {
  border-bottom: 1px solid #f4f8fa;
}

.site-navigation-footer a:active {
  opacity: 0.5;
}

.nav-footer-row-2 {
  padding-bottom: 53px;
}

.address-phone {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #f4f8fa;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social li {
  margin-right: 4px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  color: #000000;
  background-color: #29384a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.social-button:hover path,
.social-button:focus path {
  fill: #ffffff;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-copyright li {
  flex-basis: 110px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #ffffff;
}

.mail-link,
.dev-link {
  color: #ffda96;
  text-decoration: none;
}

.mail-link:hover,
.dev-link:hover,
.mail-link:focus,
.dev-link:focus {
  border-bottom: 1px solid #ffda96;
}

.mail-link:active,
.dev-link:active {
  color: #ee3643;
  border: none;
}

.catalog-navigation-footer {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 12px;
  list-style: none;
}

.catalog-navigation-footer li {
  margin-right: 60px;
}

.catalog-navigation-footer li:last-child {
  margin: 0;
}

.catalog-navigation-footer a {
  height: 17px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #ffda96;
  text-decoration: none;
}

.catalog-navigation-footer a:hover,
.catalog-navigation-footer a:focus {
  border-bottom: 1px solid #ffda96;
}

.catalog-navigation-footer a:active {
  opacity: 0.5;
}

/* Хлебные крошки */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 16px;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
  padding-top: 2px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -25px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
}

.breadcrumbs-current,
.breadcrumbs a {
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs-current::after {
  display: none;
}

/* Фильтр - радио */

.filters-header {
  display: flex;
  align-items: center;
  min-height: 37px;
  background-color: #f7f3ec;
  width: 220px;
  height: 38px;
  margin-top: 60px;
}

.filters-header::after{
  content:"";
  min-height:inherit;
  font-size:0;
  display: block;
}

.filters-header p {
  margin: 0;
  padding-left: 19px;
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}


/* Каталог */

.catalog-name-row {
  justify-content: space-between;
  align-items: center;
  margin-bottom: -40px;
  padding: 25px 28px;
  background-color: #f4f7f9;
}

.catalog-name {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 40px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #3d546e;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.brand-filter {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  width: 220px;
}

.brand-filter legend {
  margin: 0;
  margin-bottom: 12px;
}

.brand-filter::before,
.brand-filter::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}

.brand-filter::before {
  top: -18px;
}

.brand-filter::after {
  bottom: 0;
}

.brand-filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.brand-filter li {
  margin-bottom: 16px;
}

.brands-checkbox {
  position: relative;
  padding-left: 35px;
  line-height: 20px;
  text-transform: uppercase;
  font-style: 17px;
  letter-spacing: 1px;
}

.brands-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  padding-left: 30px;
}

.brands-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  content: "";
  position: absolute;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  padding-left: 30px;
}

.power-supply-filter {
  margin-bottom: 60px;
  width: 220px;
}

.power-supply-filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.power-supply-filter li {
  margin-bottom: 16px;
}

.work-radio {
  position: relative;
  padding-left: 35px;
  line-height: 20px;
  text-transform: uppercase;
  font-style: 17px;
  letter-spacing: 1px;
}

.work-radio input[type="radio"] + .radio-indicator {
  position: absolute;
  top: -4px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}

.work-radio input[type="radio"]:checked + .radio-indicator {
  content: "";
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
}

.work-radio input[type="radio"]:hover:not(:checked) + .radio-indicator,
.work-radio input[type="radio"]:focus:not(:checked) + .radio-indicator {
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}

.work-radio input[type="radio"]:hover:checked + .radio-indicator,
.work-radio input[type="radio"]:focus:checked + .radio-indicator {
  background-image: url("../img/svg/radio-on.svg");
  background-repeat: no-repeat;
}

.filter-button {
  padding: 12px 38px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 1px;
  cursor: pointer;
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.filter-button:hover,
.filter-button:focus {
  border-color: #bdc6ca;
}

.filter-button:active {
  border-color: #ee3643;
}

/* Фильтр */

.filter {
  margin-top: 12px;
}

.filter fieldset {
  padding: 0;
  border: 0;
}

.filter legend {
  margin-bottom: 13px;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.pagination-nav {
  width: 6px;
  height: 9px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-list .pagination-item {
  margin-right: 10px;
}

.pagination-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 38px;
  min-height: 38px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  cursor: pointer;
}

.pagination-list .pagination-item-current {
  color: #ffffff;
  background-color: #ee3643;
  border: none;
  cursor: default;
}

/* позунок */

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #63a63e;
}

.range-toggle {
  position: absolute;
  top: -9px;
  
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}


/* Фильтр */

.price-filter-inputs .price {
  margin-bottom: 8px;
  width: 220px;
  height: 80px;
  padding: 40px 20px;
  background-color: #f7f3ec;
}

.price-filter-inputs .min-price,
.price-filter-inputs .max-price {
  width: 95px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
}

.price-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
}

.price-filter-inputs {
  margin-bottom: 43px;
}

/* Сортировка */

.sorting-title {
  padding-left: 20px;
}

.sorting-items {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  line-height: 18px;
}

.sorting-list a {
  position: relative;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.sorting-list a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border: none;
  border-top: 1px dotted #ee3643;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: #000000;
}

.sorting-list a:active,
.sorting-items .sort-activ {
  color: #ee3643;
}

.sorting-list a:hover::after {
  border-top-style: solid;
}

.sorting-list a:active::after,
.sorting-items a.sort-activ::after {
  border: none;
}

.sorting-items .sort-activ:hover::after {
  border-top: 1px solid #ee3643;
}

.sorting-items .sort-activ:active::after {
  border: none;
}

.sorting-list .sort-by-type {
  margin-left: 71px;
}

.sorting-list .sort-by-functionality {
  margin-left: 65px;
}

.sorting-items .sorting-list {
  display: flex;
  width: 400px;
}

.sorting-buttons {
  margin: 0;
  padding: 0;
}

.sorting-buttons .sort-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.sorting-buttons .sort-activ {
  color: #ee3643;
  fill: #ee3643;
}

.sorting-items .sorting-buttons {
  width: 59px;
}

.font-delivery {
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}

/* Slider */

.slider-range {

}

.slider {
  position: relative;
  margin-right: 20px;
}

.slider input[type=radio] {
  display: none;
}

.slider-inner {
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.slider-two {
  width: 300%;
}

.slider-two div {
  float: left;
  width: 620px;
  height: 266px;
}

.slider-controls {
  position: absolute;
  top: 215px;
  left: 291px;
  z-index: 1;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin: 0 3px;
  background-color: #ffffff;
  border: 4px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

#slider-btn-1:checked ~ .slider-controls label[for="slider-btn-1"],
#slider-btn-2:checked ~ .slider-controls label[for="slider-btn-2"] {
  background-color: #ff5357;
}

#slider-btn-1:checked ~ .slider-inner .slider-two {
  transform: translate(0);
}

#slider-btn-2:checked ~ .slider-inner .slider-two {
  transform: translate(-620px);
}

.slider-control-btn {
  position: absolute;
  top: 50%;
  z-index: 1;
  margin-top: -20px;
}

.slider-prev-btn {
  left: 25px;
  width: 22px;
  height: 40px;
  background-color: transparent;
  background-image: url("../img/icon-left.svg");
  border: none;
  cursor: pointer;
}

.slider-next-btn {
  right: 25px;
  width: 22px;
  height: 40px;
  background-color: transparent;
  background-image: url("../img/icon-right.svg");
  border: none;
  cursor: pointer;
}

.catalog .slide-description {
  position: absolute;
  top: 43px;
  left: 25px;
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
}

.catalog .slider-button {
  position: absolute;
  top: 205px;
  left: 25px;
}

.catalog .slide {
  position: relative;
}

.catalog .slide-title {
  position: absolute;
  top: -7px;
  left: 24px;
  font-weight: bold;
  font-size: 36px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}